* {
	box-sizing: border-box;
}

body {
	background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: sans-serif;
}

.clock {
	width: 500px;
	height: 300px;
	background: #1F1C2C;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #928DAB, rgb(72, 68, 90));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #928DAB, rgb(72, 68, 90)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-content: center;
	color: white;
}

#timer {
	grid-column: 1 / -1;
}

.button {
	text-align: center;
	cursor: pointer;
	display: block;
	padding: 1rem;
	border: 3px solid rgba(255, 255, 255, 0.342);
}